<!doctype html>
<html lang="en" class="lang-en ltr">
<head>
   <meta charset="UTF-8">
   <title>Apps - PhotoFunia: Free photo effects and online photo editor</title>

   <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0"/>
   <meta name="apple-mobile-web-app-capable" content="yes"/>
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

   <meta name="google-site-verification" content="Hoj1HFPrwNOl2BfW7rukafY9lFbmXQVLTK7uoDaONGE" />
   <meta name="yandex-verification" content="7b0aad982d57a409" />

   <meta name="google" content="notranslate"/>

   <link rel="alternate" href="https://m.photofunia.com/apps" media="only screen and (max-width: 640px)"/>
   <link rel="alternate" href="https://basic.photofunia.com/apps" media="only screen and (max-width: 320px)"/>

      <link rel="alternate" href="https://photofunia.com/ru/apps" hreflang="ru" />
                  <link rel="alternate" href="https://photofunia.com/es/apps" hreflang="es" />
                  <link rel="alternate" href="https://photofunia.com/ar/apps" hreflang="ar" />
                  <link rel="alternate" href="https://photofunia.com/fr/apps" hreflang="fr" />
                  <link rel="alternate" href="https://photofunia.com/hi/apps" hreflang="hi" />
                  <link rel="alternate" href="https://photofunia.com/it/apps" hreflang="it" />
                  <link rel="alternate" href="https://photofunia.com/de/apps" hreflang="de" />
                  <link rel="alternate" href="https://photofunia.com/tr/apps" hreflang="tr" />
                  <link rel="alternate" href="https://photofunia.com/cn/apps" hreflang="zh-Hans" />
                  <link rel="alternate" href="https://photofunia.com/pt/apps" hreflang="pt" />
                  <link rel="alternate" href="https://photofunia.com/jp/apps" hreflang="ja" />
                  <link rel="alternate" href="https://photofunia.com/ko/apps" hreflang="ko" />
                  <link rel="alternate" href="https://photofunia.com/id/apps" hreflang="id" />
                  <link rel="alternate" href="https://photofunia.com/th/apps" hreflang="th" />
                  <link rel="alternate" href="https://photofunia.com/pl/apps" hreflang="pl" />
                  <link rel="alternate" href="https://photofunia.com/ua/apps" hreflang="uk" />
                  
   <meta name="theme-color" content="#F67249">

   <link type="image/x-icon" href="https://cdn.photofunia.com/icons/favicon.ico" rel="icon">
   <link rel="shortcut icon" href="https://cdn.photofunia.com/icons/favicon.ico">

   <link rel="apple-touch-icon" sizes="57x57" href="https://cdn.photofunia.com/icons/apple-touch-icon-57x57.png">
   <link rel="apple-touch-icon" sizes="114x114" href="https://cdn.photofunia.com/icons/apple-touch-icon-114x114.png">
   <link rel="apple-touch-icon" sizes="72x72" href="https://cdn.photofunia.com/icons/apple-touch-icon-72x72.png">
   <link rel="apple-touch-icon" sizes="144x144" href="https://cdn.photofunia.com/icons/apple-touch-icon-144x144.png">
   <link rel="apple-touch-icon" sizes="60x60" href="https://cdn.photofunia.com/icons/apple-touch-icon-60x60.png">
   <link rel="apple-touch-icon" sizes="120x120" href="https://cdn.photofunia.com/icons/apple-touch-icon-120x120.png">
   <link rel="apple-touch-icon" sizes="76x76" href="https://cdn.photofunia.com/icons/apple-touch-icon-76x76.png">
   <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.photofunia.com/icons/apple-touch-icon-152x152.png">
   <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.photofunia.com/icons/apple-touch-icon-180x180.png">

   <link rel="icon" type="image/png" href="https://cdn.photofunia.com/icons/favicon-192x192.png" sizes="192x192">
   <link rel="icon" type="image/png" href="https://cdn.photofunia.com/icons/favicon-160x160.png" sizes="160x160">
   <link rel="icon" type="image/png" href="https://cdn.photofunia.com/icons/favicon-96x96.png" sizes="96x96">
   <link rel="icon" type="image/png" href="https://cdn.photofunia.com/icons/favicon-16x16.png" sizes="16x16">
   <link rel="icon" type="image/png" href="https://cdn.photofunia.com/icons/favicon-32x32.png" sizes="32x32">

   <meta name="msapplication-TileColor" content="#da532c">
   <meta name="msapplication-TileImage" content="https://cdn.photofunia.com/icons/mstile-144x144.png">
   <meta name="msapplication-config" content="https://cdn.photofunia.com/icons/browserconfig.xml">

   
   <meta name="description" content="No matter what device you have, we have the app for it! Android, Windows Phone, iOS, Nokia Asha, BlackBerry, Firefox OS, Sailfish OS and more!" />
   <meta name="keywords" content="photofunia app, photofunia android, photofunia wp, photofunia window phone, photofunia ios, photofunia iphone, photofunia ipad, photofunia windows, photofunia blackberry, photofunia firefox os, photofunia mobile" />
   <meta name="application-name" content="PhotoFunia" />
   <meta name="title" content="Apps - PhotoFunia" />

   <!-- for Facebook -->
   <meta property="og:title" content="Apps - PhotoFunia" />
   <meta property="og:description" content="No matter what device you have, we have the app for it! Android, Windows Phone, iOS, Nokia Asha, BlackBerry, Firefox OS, Sailfish OS and more!" />

   <!-- for Twitter -->
   <meta name="twitter:title" content="Apps - PhotoFunia" />
   <meta name="twitter:description" content="No matter what device you have, we have the app for it! Android, Windows Phone, iOS, Nokia Asha, BlackBerry, Firefox OS, Sailfish OS and more!" />

   <script type="application/ld+json">[
    {
        "@context": "http:\/\/schema.org",
        "@type": "MobileApplication",
        "name": "PhotoFunia",
        "isAccessibleForFree": true,
        "isFamilyFriendly": true,
        "author": {
            "@type": "Organization",
            "url": "https:\/\/photofunia.com",
            "name": "Capsule Digital ltd"
        },
        "offers": [
            {
                "@type": "Offer",
                "price": 0
            }
        ],
        "applicationCategory": "Photo & Video",
        "operatingSystem": "iOS",
        "image": "https:\/\/cdn.photofunia.com\/site\/images\/apps\/ios.png",
        "downloadUrl": "http:\/\/itunes.apple.com\/app\/photofunia\/id321240709",
        "requirements": "iOS 6.0+"
    },
    {
        "@context": "http:\/\/schema.org",
        "@type": "MobileApplication",
        "name": "PhotoFunia",
        "isAccessibleForFree": true,
        "isFamilyFriendly": true,
        "author": {
            "@type": "Organization",
            "url": "https:\/\/photofunia.com",
            "name": "Capsule Digital ltd"
        },
        "offers": [
            {
                "@type": "Offer",
                "price": 0
            }
        ],
        "applicationCategory": "Photo & Video",
        "operatingSystem": "Android",
        "image": "https:\/\/cdn.photofunia.com\/site\/images\/apps\/android.png",
        "downloadUrl": "https:\/\/play.google.com\/store\/apps\/details?id=com.photofunia.android",
        "requirements": "Android 1.6+"
    },
    {
        "@context": "http:\/\/schema.org",
        "@type": "MobileApplication",
        "name": "PhotoFunia",
        "isAccessibleForFree": true,
        "isFamilyFriendly": true,
        "author": {
            "@type": "Organization",
            "url": "https:\/\/photofunia.com",
            "name": "Capsule Digital ltd"
        },
        "offers": [
            {
                "@type": "Offer",
                "price": 0
            }
        ],
        "applicationCategory": "Photo & Video",
        "operatingSystem": "Windows",
        "image": "https:\/\/cdn.photofunia.com\/site\/images\/apps\/windows.png",
        "downloadUrl": "https:\/\/www.microsoft.com\/en-us\/store\/p\/photofunia\/9wzdncrfj18r"
    },
    {
        "@context": "http:\/\/schema.org",
        "@type": "MobileApplication",
        "name": "PhotoFunia",
        "isAccessibleForFree": true,
        "isFamilyFriendly": true,
        "author": {
            "@type": "Organization",
            "url": "https:\/\/photofunia.com",
            "name": "Capsule Digital ltd"
        },
        "offers": [
            {
                "@type": "Offer",
                "price": 0
            }
        ],
        "applicationCategory": "Photo & Video",
        "operatingSystem": "Windows Phone",
        "image": "https:\/\/cdn.photofunia.com\/site\/images\/apps\/windows.png",
        "downloadUrl": "https:\/\/www.microsoft.com\/en-us\/store\/p\/photofunia\/9wzdncrfj18r"
    },
    {
        "@context": "http:\/\/schema.org",
        "@type": "MobileApplication",
        "name": "PhotoFunia",
        "isAccessibleForFree": true,
        "isFamilyFriendly": true,
        "author": {
            "@type": "Organization",
            "url": "https:\/\/photofunia.com",
            "name": "Capsule Digital ltd"
        },
        "offers": [
            {
                "@type": "Offer",
                "price": 0
            }
        ],
        "applicationCategory": "Photo & Video",
        "operatingSystem": "BlackBerry 10",
        "image": "https:\/\/cdn.photofunia.com\/site\/images\/apps\/blackberry.png",
        "downloadUrl": "http:\/\/appworld.blackberry.com\/webstore\/content\/51403887\/",
        "requirements": "Blackberry OS 10+"
    },
    {
        "@context": "http:\/\/schema.org",
        "@type": "MobileApplication",
        "name": "PhotoFunia",
        "isAccessibleForFree": true,
        "isFamilyFriendly": true,
        "author": {
            "@type": "Organization",
            "url": "https:\/\/photofunia.com",
            "name": "Capsule Digital ltd"
        },
        "offers": [
            {
                "@type": "Offer",
                "price": 0
            }
        ],
        "applicationCategory": "Photo & Video",
        "operatingSystem": "Nokia Asha",
        "image": "https:\/\/cdn.photofunia.com\/site\/images\/apps\/nokia.png",
        "downloadUrl": "http:\/\/ovi.sigma.apps.opera.com\/en_us\/photofunia_photofunia_n3.html",
        "requirements": "Asha Platform 1.0+"
    },
    {
        "@context": "http:\/\/schema.org",
        "@type": "MobileApplication",
        "name": "PhotoFunia",
        "isAccessibleForFree": true,
        "isFamilyFriendly": true,
        "author": {
            "@type": "Organization",
            "url": "https:\/\/photofunia.com",
            "name": "Capsule Digital ltd"
        },
        "offers": [
            {
                "@type": "Offer",
                "price": 0
            }
        ],
        "applicationCategory": "Photo & Video",
        "operatingSystem": "Firefox OS",
        "image": "https:\/\/cdn.photofunia.com\/site\/images\/apps\/keon.png",
        "downloadUrl": "https:\/\/marketplace.firefox.com\/app\/photofunia\/"
    },
    {
        "@context": "http:\/\/schema.org",
        "@type": "MobileApplication",
        "name": "PhotoFunia",
        "isAccessibleForFree": true,
        "isFamilyFriendly": true,
        "author": {
            "@type": "Organization",
            "url": "https:\/\/photofunia.com",
            "name": "Capsule Digital ltd"
        },
        "offers": [
            {
                "@type": "Offer",
                "price": 0
            }
        ],
        "applicationCategory": "Photo & Video",
        "operatingSystem": "Sailfish OS",
        "image": "https:\/\/cdn.photofunia.com\/site\/images\/apps\/jolla.png"
    },
    {
        "@context": "http:\/\/schema.org",
        "@type": "MobileApplication",
        "name": "PhotoFunia",
        "isAccessibleForFree": true,
        "isFamilyFriendly": true,
        "author": {
            "@type": "Organization",
            "url": "https:\/\/photofunia.com",
            "name": "Capsule Digital ltd"
        },
        "offers": [
            {
                "@type": "Offer",
                "price": 0
            }
        ],
        "applicationCategory": "Photo & Video",
        "operatingSystem": "Ubuntu Touch",
        "image": "https:\/\/cdn.photofunia.com\/site\/images\/apps\/ubuntu.png"
    },
    {
        "@context": "http:\/\/schema.org",
        "@type": "WebSite",
        "name": "PhotoFunia",
        "url": "https:\/\/photofunia.com",
        "image": "https:\/\/cdn.photofunia.com\/icons\/favicon-192x192.png",
        "potentialAction": {
            "@type": "SearchAction",
            "target": "https:\/\/photofunia.com\/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
        },
        "sameAs": [
            "https:\/\/www.facebook.com\/photofunia.en",
            "http:\/\/instagram.com\/photofunia_app",
            "https:\/\/twitter.com\/photofunia",
            "https:\/\/plus.google.com\/+photofunia",
            "http:\/\/vk.com\/photofunia"
        ]
    }
]</script>

   <link href="https://cdn.photofunia.com/site/build/styles/main.049.css" type="text/css" rel="stylesheet">

   
   <link href="https://cdn.photofunia.com/site/build/styles/apps.049.css" type="text/css" rel="stylesheet">

   
   
   


   <script>
      var App = {
         config: {
            language: "en",
            siteProtocol: "https://",
            urlPrefix: "",
            serverId: 1,
            domainSite: "photofunia.com",
            domainMobile: "m.photofunia.com",
            domainBasic: "basic.photofunia.com",
            domainStatic: "cdn.photofunia.com",
            domainUser: "u.photofunia.com",
            socialNetworks: {"vk":{"appId":"3502140"},"fb":{"appId":"261712573843119"},"googleDrive":{"appId":"145463426723-jr9kplnnqo9l053lt6ii5he80r8t1604.apps.googleusercontent.com"},"mailru":{"appId":"701548","privateKey":"c37c698c2fd3e658a9d813a255eccb03"},"oneDrive":{"clientId":"00000000440D42C5","redirectUri":"photofunia.com\/onedrive.html","scopes":"onedrive.readonly wl.signin wl.photos"}}         }
      };
   </script>

   

   <!--[if lt IE 9]>
   <link href="https://cdn.photofunia.com/site/build/styles/ie.049.css" type="text/css" rel="stylesheet">   <![endif]-->

   </head>
<body >

<div id="content">
   <div id="blocks">
      <div id="head-menu">
   <div class="head-inner">
      <div class="mobile-drawer-button head-button">
         <i class="font-icon menu"></i>
      </div>
      <a href="/">
         <div class="logo">PhotoFunia</div>
      </a>

      
      <ul class="mobile-hide top-menu menu-right">
                     
            <li class="profile-link ">
               <a href="/signin" rel="nofollow">
                  <i class="user-icon font-icon user2"></i>Sign In               </a>
            </li>
               </ul>


      <ul class="hide-mobile top-menu js-menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
         <li>
            <a href="/">Home</a>
         </li>

         <li class="active">
            <a href="/apps">Apps</a>
         </li>

         <li>
            <a href="/blog">Blog</a>
         </li>

         <li>
            <a href="/help">Help</a>
         </li>

                     
            <li class="no-mobile-hide ">
               <a href="/signin">Sign In</a>
            </li>
               </ul>
      <div class="mobile-menu-button head-button">
         <i class="font-icon menu-dots"></i>
      </div>
   </div>
   <div class="clear"></div>
</div>
      
   <div id="header" class="block block1">
      <div class="block-inner">
         <div class="full-text">
            <div class="subtitle">Photo and <b>fun</b>. <span class="no-break">In your <b>palm.</b></span></div>
            <div class="subsubtitle">Whatever your mobile device, there is a PhotoFunia app for it!</div>
            <ul class="platforms">
               <li><a class="ios" data-scroll="ios"><span></span></a></li>
               <li><a class="android" data-scroll="android"><span></span></a></li>
               <li><a class="windows" data-scroll="windows"><span></span></a></li>
               <li><a class="blackberry" data-scroll="blackberry"><span></span></a></li>
               <li><a class="nokia" data-scroll="nokia"><span></span></a></li>
               <li><a class="firefox" data-scroll="firefox"><span></span></a></li>
               <li><a class="sailfish" data-scroll="sailfishos"><span></span></a></li>
               <li><a class="ubuntu" data-scroll="ubuntu-touch"><span></span></a></li>
               <li><a class="tizen" data-scroll="tizen"><span></span></a></li>
            </ul>

         </div>
      </div>
   </div>

   <h1 style="display: none">Apps</h1>

   <div id="ios" class="block block2">
      <div class="block-inner right">
         <div class="image first">
            <div class="devices" content="https://cdn.photofunia.com/site/images/apps/ios.png"></div>
         </div>

         <div class="text">
            <h2 class="title">PhotoFunia for <span class="os-name">iOS</span></h2>
            <div class="subtitle">Available on App Store</div>
            <div class="badges">
               <a href="http://itunes.apple.com/app/photofunia/id321240709"
                  target="_blank" data-track="outbound">
                  <div class="badge ios"></div>
               </a>
            </div>
            <div class="requires">Requires iOS 6.0+</div>
         </div>

         <div class="image second">
            <div class="devices"></div>
         </div>
      </div>
   </div>

   <div id="android" class="block block3">
      <div class="block-inner left">
         <div class="image first">
            <div class="devices" content="https://cdn.photofunia.com/site/images/apps/android.png"></div>
         </div>

         <div class="text">
            <h2 class="title">PhotoFunia for <span class="os-name">Android</span></h2>
            <div class="subtitle">Available on <b>Google Play</b></div>
            <div class="badges">
               <a href="https://play.google.com/store/apps/details?id=com.photofunia.android"
                  target="_blank" data-track="outbound">
                  <div class="badge android"></div>
               </a>
            </div>
            <div class="requires">Requires Android 1.6+</div>
         </div>

         <div class="image second">
            <div class="devices"></div>
         </div>
      </div>
   </div>

   <div id="windows" class="block block4">
      <div class="block-inner right">
         <div class="image first">
            <div class="devices" content="https://cdn.photofunia.com/site/images/apps/windows.png"></div>
         </div>

         <div class="text">
            <h2 class="title">PhotoFunia for <span class="os-name">Windows Devices</span></h2>
            <div class="subtitle">Available on Windows & Windows Phone Stores</div>
            <div class="badges">
               <a href="https://www.microsoft.com/en-us/store/p/photofunia/9wzdncrfj18r" target="_blank" data-track="outbound">
                  <div class="badge windows"></div>
               </a>
            </div>
         </div>

         <div class="image second">
            <div class="devices"></div>
         </div>
      </div>
   </div>

   <div id="blackberry" class="block block5">
      <div class="block-inner left">
         <div class="image first">
            <div class="devices" content="https://cdn.photofunia.com/site/images/apps/blackberry.png"></div>
         </div>

         <div class="text">
            <h2 class="title">PhotoFunia for <span class="os-name">BlackBerry 10</span></h2>
            <div class="subtitle">Available on <b>BlackBerry AppWorld</b></div>
            <div class="badges">
               <a href="http://appworld.blackberry.com/webstore/content/51403887/" target="_blank" data-track="outbound">
                  <div class="badge blackberry"></div>
               </a>
            </div>
            <div class="requires">Requires Blackberry OS 10+</div>
         </div>

         <div class="image second">
            <div class="devices"></div>
         </div>
      </div>
   </div>

   <div id="nokia" class="block block6">
      <div class="block-inner right">
         <div class="image first">
            <div class="devices" content="https://cdn.photofunia.com/site/images/apps/nokia.png"></div>
         </div>

         <div class="text">
            <h2 class="title">PhotoFunia for <span class="os-name">Nokia Asha</span></h2>
            <div class="subtitle">Available on <b>OVI Store</b></div>
            <div class="badges">
               <a href="http://ovi.sigma.apps.opera.com/en_us/photofunia_photofunia_n3.html" target="_blank" data-track="outbound">
                  <div class="badge nokia"></div>
               </a>
            </div>
            <div class="requires">Requires Asha Platform 1.0+</div>
         </div>

         <div class="image second">
            <div class="devices"></div>
         </div>
      </div>
   </div>

   <div id="firefox" class="block block7">
      <div class="block-inner left">
         <div class="image first">
            <div class="devices" content="https://cdn.photofunia.com/site/images/apps/keon.png"></div>
         </div>

         <div class="text">
            <h2 class="title">PhotoFunia for <span class="os-name">Firefox OS</span></h2>
            <div class="subtitle">Available on <b>Firefox marketplace</b></div>
            <div class="badges">
               <a href="https://marketplace.firefox.com/app/photofunia/"
                  target="_blank" data-track="outbound">
                  <div class="badge firefox"></div>
               </a>
            </div>
         </div>

         <div class="image second">
            <div class="devices"></div>
         </div>
      </div>
   </div>

   <div id="sailfishos" class="block block9">
      <div class="block-inner right">
         <div class="image first">
            <div class="devices" content="https://cdn.photofunia.com/site/images/apps/jolla.png"></div>
         </div>

         <div class="text">
            <h2 class="title">PhotoFunia for <span class="os-name">Sailfish OS</span></h2>
            <div class="subtitle">Available on <b>Jolla Store</b></div>
         </div>

         <div class="image second">
            <div class="devices"></div>
         </div>
      </div>
   </div>

   <div id="ubuntu-touch" class="block block10">
      <div class="block-inner left">
         <div class="image first">
            <div class="devices" content="https://cdn.photofunia.com/site/images/apps/ubuntu.png"></div>
         </div>

         <div class="text">
            <h2 class="title">PhotoFunia for <span class="os-name">Ubuntu Touch</span></h2>
            <div class="subtitle">Available on <b>Ubuntu Store</b></div>
         </div>

         <div class="image second">
            <div class="devices"></div>
         </div>
      </div>
   </div>

   <div id="tizen" class="block block11">
      <div class="block-inner right">
         <div class="image first">
            <div class="devices" content="https://cdn.photofunia.com/site/images/apps/tizen.png"></div>
         </div>

         <div class="text">
            <h2 class="title">PhotoFunia for <span class="os-name">Tizen</span></h2>
            <div class="subtitle">Available on <b>Tizen Store</b></div>
            <div class="requires">Requires Tizen 2.3+</div>
         </div>

         <div class="image second">
            <div class="devices"></div>
         </div>
      </div>
   </div>

      <div id="footer" class="block block8 clear">
   <div class="block-inner">
      <div class="full-text">
         <div class="table">
            <div class="tr">
               <div class="tr-title">Company</div>
               <ul>
                  <li><a href="/about">About</a></li>
                  <li><a href="/press">Press information</a></li>
                  <li><a href="/brand">Brand</a></li>
               </ul>
            </div>
            <div class="tr">
               <div class="tr-title">Legal</div>
               <ul>
                  <li><a href="/privacy" rel="nofollow">Privacy policy</a></li>
                  <li><a href="/terms" rel="nofollow">Terms of use</a></li>
               </ul>
            </div>
            <div class="tr">
               <div class="tr-title">Support</div>
               <ul>
                  <li><a href="/help">Help</a></li>
                  <li><a href="/contact">Contact</a></li>
                  <li><a href="/sitemap">Sitemap</a></li>
               </ul>
            </div>

            <div class="tr company-links">
               <div class="icons">
                  <a target="_blank" href="https://www.facebook.com/photofunia.en" class="facebook"><i class="font-icon facebook"></i></a>
                  <a target="_blank" href="http://instagram.com/photofunia_app" class="instagram"><i class="font-icon instagram"></i></a>
                  <a target="_blank" href="https://twitter.com/photofunia" class="twitter"><i class="font-icon twitter"></i></a>
                  <a target="_blank" href="http://vk.com/photofunia" class="vk"><i class="font-icon vk"></i></a>
               </div>
               <div class="copyright">Capsule Digital &copy; 2026</div>
            </div>
         </div>

         <div class="other-links">
                           <span>
                                       English                                 </span>
               <span class="delim"></span>
                           <span>
                                                               <a href="/ru/apps">Русский</a>
                                                      </span>
               <span class="delim"></span>
                           <span>
                                                               <a href="/es/apps">Español</a>
                                                      </span>
               <span class="delim"></span>
                           <span>
                                                               <a href="/ar/apps">اللغة العربية</a>
                                                      </span>
               <span class="delim"></span>
                           <span>
                                                               <a href="/fr/apps">Français</a>
                                                      </span>
               <span class="delim"></span>
                           <span>
                                                               <a href="/hi/apps">हिंदी</a>
                                                      </span>
               <span class="delim"></span>
                           <span>
                                                               <a href="/it/apps">Italiano</a>
                                                      </span>
               <span class="delim"></span>
                           <span>
                                                               <a href="/de/apps">Deutsch</a>
                                                      </span>
               <span class="delim"></span>
                        <span class="all-languages">
               <i class="font-icon globe"></i>
               <a class="js-open-languages">All languages</a>
            </span>
         </div>

      </div>
   </div>
</div>

   </div>
</div>

<div id="cookie-accept">
   <div class="buttons">
      <button class="button" id="got-it">Got it!</button>
   </div>
   <div class="info">
      This website uses cookies to ensure you get the best experience on our website. <a href="/privacy#cookies" target="_blank">More info</a>
   </div>
</div>

<div id="popup-container"></div>



<script type="text/html" data-template="popup-container">
   <div class="popup">
      <div class="popup-wrapper">
         <div class="popup-container">
            <div class="popup-head clear">
               <h3><%= title %></h3>

               <div class="close-button"></div>
            </div>
            <div class="popup-content">
               <%= popupContent %>
            </div>
         </div>
      </div>
   </div>
</script>

<script type="text/html" data-template="popup-choose-language">
   <div class="languages-container">
      <ul class="languages">
                  <li class="item">
            <a href="/en/apps">English</a>
         </li>
                  <li class="item">
            <a href="/ru/apps">Русский</a>
         </li>
                  <li class="item">
            <a href="/es/apps">Español</a>
         </li>
                  <li class="item">
            <a href="/ar/apps">اللغة العربية</a>
         </li>
                  <li class="item">
            <a href="/fr/apps">Français</a>
         </li>
                  <li class="item">
            <a href="/hi/apps">हिंदी</a>
         </li>
                  <li class="item">
            <a href="/it/apps">Italiano</a>
         </li>
                  <li class="item">
            <a href="/de/apps">Deutsch</a>
         </li>
                  <li class="item">
            <a href="/tr/apps">Türkçe</a>
         </li>
                  <li class="item">
            <a href="/cn/apps">中文(简体)</a>
         </li>
                  <li class="item">
            <a href="/pt/apps">Português</a>
         </li>
                  <li class="item">
            <a href="/jp/apps">日本語</a>
         </li>
                  <li class="item">
            <a href="/ko/apps">한국어</a>
         </li>
                  <li class="item">
            <a href="/id/apps">Bahasa Indonesia</a>
         </li>
                  <li class="item">
            <a href="/th/apps">ภาษาไทย</a>
         </li>
                  <li class="item">
            <a href="/pl/apps">Polski</a>
         </li>
                  <li class="item">
            <a href="/ua/apps">Українська</a>
         </li>
               </ul>
   </div>
</script>

<script>
   window.App = window.App || {};
   App.m = App.m || {};
   App.m.effects = {
      result: {"share_text":"Guys, look at what I've created with PhotoFunia!\n\nhttp:\/\/photofunia.com\/en\/effects\/{effect_key}\n\n{tags}"},
      errors: {"noUserMedia":"Your browser does not allow access to camera","uploadingError":"Error, file upload failed","cameraPermission":"You have denied access to camera"},
      headings: {"choosePhoto":"Choose photo","chooseLanguage":"Choose your language","examples":"Examples ({current} of {total})","cropTitle":"Select an area you would like to use","shareResult":"Share with friends"}   };
</script>

<script src="https://cdn.photofunia.com/site/build/scripts/build.050.js"></script>


   <script src="https://cdn.photofunia.com/site/build/scripts/apps.049.js"></script>
<script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-58565663-1', 'auto');
   ga('send', 'pageview');
</script>

<script>
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(62498527, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/62498527" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

</body>
</html>


